$color-primary: #3381f1;

.btn-primary {
  background-color: $color-primary !important;
}

.html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
.body {
  overflow-x: hidden !important;
}
